<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign-In</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href='https://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/css/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300&display=swap" rel="stylesheet">

  </head>
  <body>
    <section class="header">
      <a href="/" style="font-size:50px; font-family: exo 2; color:black; text-decoration:none;">Snake</a>
      <a style="float:right; margin-top: 30px; font-size: 20px;">a snake game and a chat by Sal and Escher</a>
  </section>
  <div style="padding:30px;"></div>
  <section class="main">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target" id="ftco-navbar">
	    <div class="container">
	      <center style="text-align:center; color:white; font-size:50px;"><span>Welcome Back to Snake Chat!</span></center>

	      
            
            
	        </ul>
	      </div>
	    </div>
	  </nav>
  </section>
	<!-- <div id="particles-js"></div> -->
	  
  <section class="hero-wrap js-fullheight">
    <!-- <img style="float:left; max-width: 100%; max-height: 100%;" src="/Users/salgalarza/Desktop/MyWebsite/ronaldo/images/sbg.png"> -->
    <!-- <img style="float:right; max-width: 100%; max-height: 100%;" src="images/sit.jpg"> -->
    <!-- <img style="float:left; max-width: 100%; max-height: 100%;" src="images/stand.jpg"> -->
    <!-- <div class="overlay"></div>
    <div class="overlayleft"></div> -->
      <!-- <img style="float:right; max-width: 100%; max-height: auto;" src="images/stand.jpg"> -->
        <div class="container" style="padding: 75px; text-align:center;">
            <form action="signin" method="POST">
                <input type="email" id="login" class="text_field" name="email" placeholder="email">
                <br><br>
                <input type="password" id="password" class="text_field" name="password" placeholder="password">
                <br><br><br>
                <input type="submit" class="button" value="Log In">
              </form>
          </div>

    </section>

  </body>
</html>